# Modified Kickstart for VMware Lifecycle Manager Demo
#
# Accept the VMware End User License Agreement
vmaccepteula
# Set the root password for the DCUI and ESXi Shell
rootpw HPE1nvent!
# Install on the first local disk available on machine
clearpart --firstdisk --overwritevmfs 
install --firstdisk --overwritevmfs 
# Set the network to DHCP on the first network adapater, use the specified hostname and # Create a portgroup for the VMs
network --bootproto=static --addvmportgroup=1 --ip={{myip}} --netmask={{smask}} --gateway={{mygw}} --nameserver={{ns}} --hostname={{myhostname}} --device=vmnic0
# reboots the host after the scripted installation is completed
reboot

%firstboot --interpreter=busybox
#for vcf mgmt set mtu to 9000
esxcli network vswitch standard set -v vSwitch0 -m 9000


# Add an extra nic to vSwitch0 (vmnic2)
#esxcli network vswitch standard uplink add --uplink-name=vmnic0 --vswitch-name=vSwitch0
##esxcli network vswitch standard uplink add -u vmnic1 -v vSwitch0
# Add VLAN to the Management Port Group
esxcfg-vswitch -p "Management Network" vSwitch0
# Assign an IP-Address to the first VMkernel, this will be used for management
esxcli network ip dns search add --domain=demo.local
esxcli network ip dns server add --server={{ns}}
#Add vMotion Interface
##esxcli network vswitch standard add --vswitch-name=vSwitch1
##esxcli network vswitch standard uplink add --uplink-name=vmnic7 --vswitch-name=vSwitch1
##esxcli network vswitch standard uplink add --uplink-name=vmnic6 --vswitch-name=vSwitch1
##esxcli network vswitch standard portgroup add --portgroup-name=vMotion --vswitch-name=vSwitch1
##esxcli network ip interface add --interface-name=vmk1 --portgroup-name=vMotion
##esxcli network ip interface ipv4 set --interface-name=vmk1 --type=dhcp
##vim-cmd hostsvc/vmotion/vnic_set vmk1
#
#
# set ntp config
#

/etc/init.d/ntpd stop
esxcli system ntp set -s={{ mygw }}
esxcli system ntp set -e=yes

/sbin/chkconfig  ntpd on
/etc/init.d/ntpd start
#
# Enable SSH and the ESXi Shell
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell
#Suppress Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
#
#set sut mode for vLCM
/bin/sut -set mode=AutoDeploy
/bin/sut -set pollingintervalinminutes=2  #for demo porpuse only,, default 5(minutes)
echo "done" > /inst.txt
